[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
py-plrt = "*"
pyarrow = "*"
tabulate = "*"
matplotlib = "*"
seaborn = "*"
ipython = "*"
pyqt5 = "*"
geopandas = "*"
basemap = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
commitizen = "*"
ipdb = "*"
ipython = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
